<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG79GgLquAOGZFU2HjW07LLg8vf_GYTG0</string>
	<key>GCM_SENDER_ID</key>
	<string>197669174880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xyx.demo.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>demofirebase-2f17c</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirebase-2f17c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197669174880:ios:01b83c3ad2a5f9b7da8d05</string>
</dict>
</plist>